<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ title }}</title>

  <link rel="icon" type="image/png" href="{{data.assetPath}}/images/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{data.assetPath}}/images/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>

  <!-- inject:css -->
  <!-- endinject -->

</head>


<body>

  <!-- HEADER -->
  {% include './header.twig' %}
  <!---->

  <!-- MAIN CONTENT -->
  {% block page %}{% endblock %}
  <!---->

  <!-- FOOTER -->
  {% include './footer.twig' %}
  <!---->

</body>
<!-- inject:js -->
  <!-- endinject -->
</html>