<div class="l-successful js-animate" data-module="OldStudentSuccess">
  <div class="l-inner">
    <h2 class="element-title">
      <span class="element-title__small">Sinh Viên Của Trường IUH</span>CỰU SINH VIÊN THÀNH ĐẠT
    </h2>
    <div class="l-successful__list">
      <div class="js-slider02">
        <div class="successful-box">
          <div class="successful-img"><img src="assets/images/top/successful-img01.png" alt="PHAN VĂN TUẤN"></div>
          <div class="successful-ttl">PHAN VĂN TUẤN</div>
          <div class="successful-ttls">Cựu Sinh Viên</div>
          <ul class="successful-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="successful-box">
          <div class="successful-img"><img src="assets/images/top/successful-img02.png" alt="NGUYỄN THÙY CHI"></div>
          <div class="successful-ttl">NGUYỄN THÙY CHI</div>
          <div class="successful-ttls">Cựu Sinh Viên</div>
          <ul class="successful-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="successful-box">
          <div class="successful-img"><img src="assets/images/top/successful-img03.png" alt="LÊ THỪA THỊNH"></div>
          <div class="successful-ttl">LÊ THỪA THỊNH</div>
          <div class="successful-ttls">Cựu Sinh Viên</div>
          <ul class="successful-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="successful-box">
          <div class="successful-img"><img src="assets/images/top/successful-img01.png" alt="PHAN VĂN TUẤN"></div>
          <div class="successful-ttl">PHAN VĂN TUẤN</div>
          <div class="successful-ttls">Cựu Sinh Viên</div>
          <ul class="successful-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="successful-box">
          <div class="successful-img"><img src="assets/images/top/successful-img02.png" alt="NGUYỄN THÙY CHI"></div>
          <div class="successful-ttl">NGUYỄN THÙY CHI</div>
          <div class="successful-ttls">Cựu Sinh Viên</div>
          <ul class="successful-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="successful-box">
          <div class="successful-img"><img src="assets/images/top/successful-img03.png" alt="LÊ THỪA THỊNH"></div>
          <div class="successful-ttl">LÊ THỪA THỊNH</div>
          <div class="successful-ttls">Cựu Sinh Viên</div>
          <ul class="successful-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="slider__arrows">
        <div class="arrow-icon arrow--prev02"><i class="fas fa-angle-left"></i></div>
        <div class="arrow-icon arrow--next02"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
</div>
<!-- /.l-successful -->