{% extends "./_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="profile-detaill">
  <div class="l-inner">
    <div class="profile-detaill__information">
      <div class="profile-detaill__photo">
        <div>
          <img src="assets/images/profile/profile.jpg" alt="profile">
          <ul class="icon-sns">
            <li><a class="i-fb" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a class="i-ins" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="i-twi" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>

      </div>
      <div class="profile-detaill__inforShow">
        <h2 class="element-title">Thông tin sinh viên</h2>
        <dl>
          <dt>Họ tên:</dt>
          <dd>Trần Văn Anh</dd>
        </dl>
        <dl>
          <dt>Năm sinh:</dt>
          <dd>10/02/1993</dd>
        </dl>
        <dl>
          <dt>Lớp:</dt>
          <dd>10cd1102</dd>
        </dl>
        <dl>
          <dt>Khoa:</dt>
          <dd>Công Nghệ Thông Tin</dd>
        </dl>
        <dl>
          <dt>Điện thoại:</dt>
          <dd>0963256235</dd>
        </dl>
        <dl>
          <dt>Email:</dt>
          <dd>dhcn@iuh.edu.vn</dd>
        </dl>
        <dl>
          <dt>Chức vụ:</dt>
          <dd>CEO-TIKI</dd>
        </dl>
        <dl>
          <dt>Địa chỉ:</dt>
          <dd>Số 12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp,
            Thành phố Hồ Chí Minh</dd>
        </dl>

      </div>
    </div>
    <div class="profile-detaill__experience" data-module="ProfileTab">
      <div class="tabs js-slidetabs">
        <div class="tab-link current" data-tab="tab-1">
          <p>2021</p>
        </div>
        <div class="tab-link" data-tab="tab-2">
          <p>2022</p>
        </div>
        <div class="tab-link" data-tab="tab-3">
          <p>2023</p>
        </div>
        <div class="tab-link" data-tab="tab-4">
          <p>2024</p>
        </div>
        <div class="tab-link" data-tab="tab-5">
          <p>2025</p>
        </div>
        <div class="tab-link" data-tab="tab-6">
          <p>2026</p>
        </div>
        <div class="tab-link" data-tab="tab-7">
          <p>2027</p>
        </div>
        <div class="tab-link" data-tab="tab-8">
          <p>2028</p>
        </div>
        <div class="tab-link" data-tab="tab-9">
          <p>2029</p>
        </div>
      </div>


      <div class="profile-detaill__experience_content">
        <div class="slider__arrows">
          <div class="arrow-icon arrow--prev03"><i class="fas fa-angle-left"></i></div>
          <div class="arrow-icon arrow--next03"><i class="fas fa-angle-right"></i></div>
        </div>
        <div class="js-slidetabs-for">
          <div id="tab-1" class="tab-content current">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
          </div>
          <div id="tab-2" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
          </div>
          <div id="tab-3" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>

          </div>
          <div id="tab-4" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
          </div>
          <div id="tab-5" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
          </div>
          <div id="tab-6" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>

          </div>
          <div id="tab-7" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
          </div>
          <div id="tab-8" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>

          </div>
          <div id="tab-9" class="tab-content">
            <h2 class="element-title">quá trình công tác</h2>
            <div class="resume-content">
              <h6 class="uppercase"><span>Front-end Developer - </span>Vien
                Nam solutions</h6>
              <span class="date"><i class="far fa-calendar-alt"></i> 2/2018 -
                1/2019</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
{% endblock %}